<script src="https://kit.fontawesome.com/9a2f8c0987.js" crossorigin="anonymous"></script>
<div class="download-container">
    <div class="download-text">
        <h3>DOWNLOAD OUR SOFTWARE</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non quia eos a unde autem similique molestiae excepturi sed nobis placeat laboriosam, quasi tenetur quaerat!</p>
        <button class="download-btn"><i class="fa-sharp fa-solid fa-download"></i>   DOWNLOAD</button>
    </div>
    <div class="download-img">
        <img src="/images/small-laptop.png">
    </div>
</div>